html {
  /* always show vertical scroll bar */
  overflow-y: scroll;
}

body {
  font-family: sans-serif;
  font-size: 11pt;
}

#wrap {
  width: 800px;
  margin: 20px auto;
}

#playing {
  font-size: 12pt;
  margin-bottom: 10px;
}

#player {
  width: 800px;
  margin-bottom: 5px;
}

#filter {
  width: 789px;
}

#genre-div {
  float: top;
}

#artist-div, #album-div, #title-div {
  float: left;
}

ul {
  margin: 15px 0 1px 0;
  padding: 0;
  list-style-type: none;
  border-left: 1px solid black;
}

li {
  margin: 0 20px 10px 10px;
  padding: 0;
}

#genre-div li {
  margin-right: 5px;
  display: inline;
}

a:hover {
  color: blue;
  cursor: default;
}

a.selected {
  color: green;
  font-style: italic;
}

input {
  font-size: 12pt;
  border: 1px solid black;
  padding: 5px;
}

input:not(:focus) {
  opacity: 0.7;
}

